body {
  margin: 0;
  padding: 0;
  font-family: "Spline Sans", sans-serif;
}
.header {
  width: 100%;
  height: 600px;

  background-image: url("bg.png");
  background-repeat: no-repeat;
  margin: auto;
  overflow: hidden;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding-bottom: 150px;
}
.div1 {
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 100px;
  padding-left: 150px;
}
.div2 {
  width: 50%;
  height: 100%;

  overflow: hidden;
  background-image: url("bg1.png");
  background-repeat: no-repeat;
}
.div2 img {
  margin-left: 100px;
  width: 60%;
  overflow: hidden;
  padding-bottom: 38px;
}
h1 {
  font-size: 50px;
}
.zaman {
  color: #e4271a;
}
.hireme {
  padding-top: 15px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  border: 2px solid black;
  padding: 5px 15px;
  border-radius: 10px;
  margin-top: 200px;
}
.button {
  margin-top: 50px;
}
p {
  font-size: 18px;
  font-weight: bold;
}
.aboutme {
  width: 70%;
  height: 550px;

  margin: auto;
  display: flex;
  overflow: hidden;
}
.myimg {
  width: 100%;
  overflow: hidden;
}
.myimg img {
  width: 90%;
  margin: auto;
}
.about {
  width: 100%;
  overflow: hidden;
  padding: 70px;
}
.info span {
  display: flex;
  font-family: "Spline Sans", sans-serif;
  margin-bottom: -30px;
}
.section2 {
  padding-bottom: 150px;
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#am {
  color: #e4271a;
  font-size: 30px;
}
.icons {
  width: 100%;

  height: 50px;
  font-size: 45px;
  padding: 10px;
}
.icons a {
  margin-right: 15px;
  color: #e4271a;
}

.skill {
  padding-bottom: 150px;
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.services {
  display: flex;
  width: 70%;
  height: 300px;

  margin-top: 15px;
  overflow: hidden;
}
.option {
  overflow: hidden;
  width: 200px;
  height: 200px;

  margin-top: 50px;
  margin-right: 19px;
  margin: auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(231, 79, 40, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  align-items: center;
}
.option img {
  width: 50px;
  padding-top: 15px;
}
.bg {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: blanchedalmond;
  align-items: center;
  margin-top: 5px;
}
